# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml # Checks yaml files for parseable syntax.
      - id: check-added-large-files
      - id: check-case-conflict # Check for files that would conflict in case-insensitive filesystems
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: debug-statements # Check for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
    - id: blacken-docs
      args:
        - "--rst-literal-blocks"
      additional_dependencies:
        - black==22.12.0

  - repo: local
    hooks:
      - id: ruff-kedro-datasets
        name: "Ruff on kedro_datasets/*"
        language: system
        files: ^kedro-datasets/kedro_datasets/
        exclude: ^(?!kedro-datasets/kedro_datasets/).*\.py$
        pass_filenames: false
        stages: [ manual ]
        entry: ruff kedro-datasets --fix --exit-non-zero-on-fix

      - id: ruff-kedro-airflow
        name: "Ruff on kedro_airflow/*"
        language: system
        files: ^kedro-airflow/kedro_airflow/
        exclude: ^(?!kedro-airflow/kedro_airflow/).*\.py$
        pass_filenames: false
        stages: [ manual ]
        entry: ruff kedro-airflow --fix --exit-non-zero-on-fix

      - id: ruff-kedro-docker
        name: "Ruff on kedro_docker/*"
        language: system
        files: ^kedro-docker/kedro_docker/
        exclude: ^(?!kedro-docker/kedro_docker/).*\.py$
        pass_filenames: false
        stages: [ manual ]
        entry: ruff kedro-docker --fix --exit-non-zero-on-fix

      - id: ruff-kedro-telemetry
        name: "Ruff on kedro_telemetry/*"
        language: system
        files: ^kedro-telemetry/kedro_telemetry/
        exclude: ^(?!kedro-telemetry/kedro_telemetry/).*\.py$
        pass_filenames: false
        stages: [manual]
        entry: ruff kedro-telemetry --fix --exit-non-zero-on-fix

      - id: black-kedro-datasets
        name: "Black"
        language: system
        pass_filenames: false
        entry: black kedro-datasets/kedro_datasets kedro-datasets/features kedro-datasets/tests

      - id: black-kedro-docker
        name: "Black"
        language: system
        pass_filenames: false
        entry: black kedro-docker/kedro_docker kedro-docker/features kedro-docker/tests

      - id: black-kedro-airflow
        name: "Black"
        language: system
        pass_filenames: false
        entry: black kedro-airflow/kedro_airflow kedro-airflow/features kedro-airflow/tests

      - id: black-kedro-telemetry
        name: "Black"
        language: system
        pass_filenames: false
        entry: black kedro-telemetry/kedro_telemetry kedro-telemetry/tests

      - id: secret_scan
        name: "Secret scan"
        language: system
        pass_filenames: false
        entry: make secret-scan

      - id: bandit
        name: "Bandit security check"
        language: system
        types: [file, python]
        exclude: ^kedro-(telemetry|docker|datasets|airflow)/tests/|^kedro-(telemetry|docker|datasets|airflow)/features/
        entry: bandit -ll
