anyconfig~=0.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
git+https://github.com/kedro-org/kedro.git@develop#egg=kedro
semver~=2.10 # Needs to be at least 2.10.0 to get VersionInfo.match
