-r requirements.txt
bandit>=1.6.2, <2.0
behave>=1.2.6, <2.0
black~=22.0
docker
flake8>=3.5, <4.0
pre-commit>=1.17.0, <2.0
psutil
pylint>=2.4.4, <3.0
pytest
pytest-cov
pytest-mock
PyYAML>=5.1, <6.0
trufflehog>=2.0.99, <3.0
wheel==0.32.2
