from __future__ import annotations

from datetime import datetime, timedelta
from pathlib import Path

from airflow.sdk import dag, task

from kedro.framework.session import KedroSession
from kedro.framework.project import configure_project

# Kedro settings required to run your pipeline
env = "{{ env }}"
pipeline_name = "{{ pipeline_name }}"
project_path = Path.cwd()
package_name = "{{ package_name }}"
conf_source = "{{ conf_source }}" or Path.cwd() / "conf"


@dag(
    dag_id="{{ dag_name | safe | slugify }}",
    start_date=datetime({{ start_date | default([2023, 1, 1]) | join(",")}}),
    max_active_runs={{ max_active_runs | default(3) }},
    schedule="{{ schedule_interval | default('@once') }}",
    catchup={{ catchup | default(False) }},
    default_args=dict(
        owner="{{ owner | default('airflow') }}",
        depends_on_past={{ depends_on_past | default(False) }},
        email_on_failure={{ email_on_failure | default(False) }},
        email_on_retry={{ email_on_retry | default(False) }},
        retries={{ retries | default(1) }},
        retry_delay=timedelta(minutes={{ retry_delay | default(5) }})
    ),
)
def {{ dag_name | safe | slugify | replace("-", "_") }}():
{%- for group in node_objs %}

    @task(task_id="{{ group.name | slugify }}")
    def {{ group.name | slugify | replace("-", "_") }}():
        configure_project(package_name)
        with KedroSession.create(project_path, env=env, conf_source=conf_source) as session:
{%- if group.type == "namespace" %}
            session.run(pipeline_name, namespaces=["{{ group.name }}"])
{%- else %}
            session.run(pipeline_name, node_names=[{% for node in group.nodes %}"{{ node }}"{% if not loop.last %}, {% endif %}{% endfor %}])
{%- endif %}
{%- endfor %}

    tasks = {
    {%- for group in node_objs %}
        "{{ group.name | slugify }}": {{ group.name | slugify | replace("-", "_") }}(),
    {%- endfor %}
    }
{%- for group in node_objs %}
{%- for dep in group.dependencies %}
    tasks["{{ dep | slugify }}"] >> tasks["{{ group.name | slugify }}"]
{%- endfor %}
{%- endfor %}


{{ dag_name | safe | slugify | replace("-", "_") }}()
