name: Running tests and linter

on:
  workflow_call:
    inputs:
      plugin:
        type: string

jobs:

  setup-matrix:
  # kedro-datasets is only plugin that supports python 3.11
    runs-on: ubuntu-latest
    outputs:
      python-versions: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [[ "${{ inputs.plugin }}" == "kedro-datasets" ]]; then
            MATRIX='["3.7", "3.8", "3.9", "3.10", "3.11"]'
          else
            MATRIX='["3.7", "3.8", "3.9", "3.10"]'
          fi
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

  unit-tests:
    needs: setup-matrix
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: ${{fromJson(needs.setup-matrix.outputs.python-versions)}}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{matrix.python-version}}
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{matrix.python-version}}
      - name: Cache python packages for Linux
        if: matrix.os == 'ubuntu-latest'
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-${{matrix.os}}-python-${{matrix.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Cache python packages for Windows
        if: matrix.os == 'windows-latest'
        uses: actions/cache@v3
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{inputs.plugin}}-${{matrix.os}}-python-${{matrix.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Install Kedro
        run: pip install git+https://github.com/kedro-org/kedro@main
      - name: Install System Dependencies
        run: sudo apt-get update && sudo apt-get install -y libopenblas-dev gfortran
      - name: Install dependencies
        run: |
          cd ${{ inputs.plugin }}
          pip install ".[test]"
      - name: pip freeze
        run: pip freeze
      - name: Run unit tests for Linux / all plugins
        if: matrix.os != 'windows-latest'
        run: make plugin=${{ inputs.plugin }} test
      - name: Run unit tests for Windows / kedro-airflow, kedro-docker, kedro-telemetry
        if: matrix.os == 'windows-latest' && inputs.plugin != 'kedro-datasets'
        run: |
          cd ${{ inputs.plugin }}
          pytest tests

  lint:
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Cache python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-${{matrix.os}}-python-${{matrix.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Install dependencies
        run: |
            cd ${{ inputs.plugin }}
            pip install git+https://github.com/kedro-org/kedro@main
            pip install ".[test]"
            pip freeze
      - name: Install pre-commit hooks
        run: |
            pre-commit install --install-hooks
            pre-commit install --hook-type pre-push
      - name: Run linter
        run: make plugin=${{ inputs.plugin }} lint

  RTD-build:
    if: inputs.plugin == 'kedro-datasets'
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Cache python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-ubuntu-latest-python-"3.8"
          restore-keys: ${{inputs.plugin}}
      - name: Install dependencies
        run: |
            cd ${{ inputs.plugin }}
            pip install ".[docs]"
            pip install ".[test]"
      - name: RTD build for kedro-datasets
        run: |
          make rtd

  e2e-tests:
    if: inputs.plugin != 'kedro-datasets'
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{matrix.python-version}}
      - name: Cache python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-${{matrix.os}}-python-${{matrix.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Install dependencies
        run: |
          cd ${{ inputs.plugin }}
          pip install git+https://github.com/kedro-org/kedro@main
          pip install ".[test]"
      - name: pip freeze
        run: pip freeze
      - name: Run end to end tests
        # Custom shell to run kedro-docker e2e-tests because -it flag for `docker run`
        # isn't supported on Github Actions. See https://github.com/actions/runner/issues/241
        shell: 'script -q -e -c "bash {0}"'
        run: make plugin=${{ inputs.plugin }} e2e-tests
