name: Run checks on kedro-docker

on:
  workflow_call:
  push:
    branches:
      - main
    paths-ignore:
      - "kedro-airflow/**"
      - "kedro-datasets/**"
      - "kedro-telemetry/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "kedro-airflow/**"
      - "kedro-datasets/**"
      - "kedro-telemetry/**"

jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    uses: ./.github/workflows/unit-tests.yml
    with:
      plugin: kedro-docker
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}

  lint:
    uses: ./.github/workflows/lint.yml
    with:
      plugin: kedro-docker
      os: ubuntu-latest
      python-version: "3.11"

  e2e-tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    uses: ./.github/workflows/e2e-tests.yml
    with:
      plugin: kedro-docker
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
