name: Run checks on kedro-datasets

on:
  workflow_call:
  push:
    branches:
      - main
    paths-ignore:
      - "kedro-airflow/**"
      - "kedro-docker/**"
      - "kedro-telemetry/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "kedro-airflow/**"
      - "kedro-docker/**"
      - "kedro-telemetry/**"

jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ "3.9", "3.10", "3.11" ]
    uses: ./.github/workflows/unit-tests.yml
    with:
      plugin: kedro-datasets
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}

  lint:
    uses: ./.github/workflows/lint.yml
    with:
      plugin: kedro-datasets
      os: ubuntu-latest
      python-version: "3.11"

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Cache python packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: kedro-datasets-ubuntu-latest-python-"3.9"
          restore-keys: kedro-datasets
      - name: Install uv
        run: |
          python -m pip install "uv==0.1.13"
      - name: Install dependencies
        run: |
          cd kedro-datasets
          uv pip install --system "kedro-datasets[docs,test] @ ."
      - name: Documentation check for kedro-datasets
        run: |
          make plugin=kedro-datasets check-docs
