name: Run checks on Kedro-Airflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "kedro-datasets/**"
      - "kedro-docker/**"
      - "kedro-telemetry/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "kedro-datasets/**"
      - "kedro-docker/**"
      - "kedro-telemetry/**"
  schedule:
    # Run every day at midnight (UTC time)
    - cron: '0 0 * * *'

jobs:
  airflow-test:
    uses: ./.github/workflows/check-plugin.yml
    with:
      plugin: kedro-airflow
      python-versions: ["3.7", "3.8", "3.9", "3.10"]
