name: Run linter

on:
  workflow_call:
    inputs:
      plugin:
        type: string
      os:
        type: string
      python-version:
        type: string

jobs:
  lint:
    defaults:
      run:
        shell: bash
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - name: Cache python packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-${{inputs.os}}-python-${{inputs.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Install dependencies
        run: |
            cd ${{ inputs.plugin }}
            python -m pip install -U "pip>=21.2,<23.2" # Temporary fix
            pip install git+https://github.com/kedro-org/kedro@main
            pip install ".[test]"
            pip freeze
      - name: Install pre-commit hooks
        run: |
            pre-commit install --install-hooks
            pre-commit install --hook-type pre-push
      - name: Run linter
        run: make plugin=${{ inputs.plugin }} lint
