name: Run linter

on:
  workflow_call:
    inputs:
      plugin:
        type: string
      os:
        type: string
      python-version:
        type: string

jobs:
  lint:
    env:
      UV_HTTP_TIMEOUT: 1000
    defaults:
      run:
        shell: bash
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - name: Cache python packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{inputs.plugin}}-${{inputs.os}}-python-${{inputs.python-version}}
          restore-keys: ${{inputs.plugin}}
      - name: Install uv
        run: |
          python -m pip install "uv==0.1.13"
      - name: Install dependencies
        run: |
            cd ${{ inputs.plugin }}
            uv pip install --system "kedro @ git+https://github.com/kedro-org/kedro@main"
            uv pip install --system "${{inputs.plugin}}[test] @ ."
            uv pip freeze --system
      - name: Install pre-commit hooks
        run: |
            pre-commit install --install-hooks
            pre-commit install --hook-type pre-push
      - name: Run linter
        run: make plugin=${{ inputs.plugin }} lint
      - name: Run mypy
        if: inputs.plugin != 'kedro-datasets'  # temporary, will remove in a follow up PR
        run: make plugin=${{ inputs.plugin }} mypy
