name: Run unit tests

on:
  workflow_call:
    inputs:
      plugin:
        type: string
      os:
        type: string
      python-version:
        type: string

jobs:

  unit-tests:
    permissions:
      contents: read
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java for Windows
        if: inputs.os == 'windows-latest' && inputs.plugin == 'kedro-datasets'
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Set up Hadoop for Windows
        if: inputs.os == 'windows-latest' && inputs.plugin == 'kedro-datasets'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path C:\hadoop\bin
          Invoke-WebRequest -Uri "https://github.com/cdarlint/winutils/raw/master/hadoop-3.3.6/bin/winutils.exe" -OutFile C:\hadoop\bin\winutils.exe
          Invoke-WebRequest -Uri "https://github.com/cdarlint/winutils/raw/master/hadoop-3.3.6/bin/hadoop.dll" -OutFile C:\hadoop\bin\hadoop.dll
          Copy-Item C:\hadoop\bin\hadoop.dll C:\Windows\System32\
          echo "HADOOP_HOME=C:\hadoop" >> $env:GITHUB_ENV
          echo "C:\hadoop\bin" >> $env:GITHUB_PATH

      - name: Install the latest version of uv with Python ${{inputs.python-version}}
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: ${{ inputs.python-version }}
          activate-environment: true

      - name: Install dependencies
        run: |
          uv pip install "kedro @ git+https://github.com/kedro-org/kedro@main"
          make plugin=${{ inputs.plugin }} install-test-requirements
          uv pip freeze

      - name: Run unit tests for kedro-airflow, kedro-docker, kedro-telemetry
        if: inputs.plugin != 'kedro-datasets'
        run: make plugin=${{ inputs.plugin }} test

      - name: Run unit tests for Linux / kedro-datasets
        if: inputs.os != 'windows-latest' && inputs.plugin == 'kedro-datasets'
        run: make dataset-tests

      # Todo: When SparkDatasetV2 replaces SparkDataset, change to: make dataset-tests
      - name: Run unit tests for Windows / kedro-datasets / no spark parallel
        if: inputs.os == 'windows-latest' && inputs.plugin == 'kedro-datasets'
        env:
          SPARK_LOCAL_IP: 127.0.0.1
        run: make test-no-spark
